@import "./break_points";
@import "./theme";
@import "./grid";

.sliderContainer {
  display: flex;
  background: #53354A;
  overflow: hidden;
  width: 100%;
}
.sliderImageContainer {
  width: 50%;
  max-height: 475px;
  overflow: hidden;
}
.sliderImageContainer > img {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s opacity;
}
.sliderInfoContainer {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px 145px;
  text-align: left;
}
.sliderInfoContainer > p {
  color: #fff;
  font: italic 36px "Cardo", Georgia, "Times New Roman", serif;
}
.sliderInfoContainer > span {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: $xl) {
  .sliderContainer {
    flex-direction: column;
  }
  .sliderImageContainer {
    width: 100%;
    height: 50%;
  }
  .sliderInfoContainer {
    width: 100%;
    height: 50%;
    min-height: 200px;
  }
}
@media screen and (max-width: $ms) {
  .sliderInfoContainer {
    width: 100%;
    height: 50%;
    min-height: 400px;
  }
}
@media screen and (max-width: $ls) {
  .sliderInfoContainer {
    padding: 60px 70px 80px 70px;
  }
  .sliderInfoContainer > p {
    font-size: 30px;
  }
}